body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
  margin: 20px;
}

h1, h2, h3 {
  font-weight: bold;
  margin: 0;
}

h3 {
  margin-bottom: 15px;
}

.justified {
  text-align: justify;
}

img {
  width: 450px;
  height: auto;
}

#teaching {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
  gap: 35px;
}

#teaching h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

/* Timeline container styling */
.timeline-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Timeline column */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #1a73e8;
  margin: 0 auto;
  background-color: #1a73e8;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle.hollow {
  background-color: transparent;
}

.line {
  width: 2px;
  height: calc(100% - 12px); /* Dynamic height to connect circles */
  background-color: #1a73e8;
  position: absolute;
  top: 6px; /* Adjusted to start at the bottom of the first circle */
}

/* Teaching cards */
.teaching-card {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.teaching-logo {
  flex: 0 0 60px;
  margin-right: 20px;
}

.teaching-logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.teaching-details {
  flex: 1;
}

.teaching-details h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px;
}

.teaching-details .organization {
  font-size: 1em;
  color: #6b6b6b;
  margin: 0;
}

.teaching-details .date-location {
  font-size: 0.9em;
  color: #9a9a9a;
  margin: 5px 0 10px;
}

.teaching-details ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.teaching-details ul li {
  font-size: 0.9em;
  margin-bottom: 5px;
}
